@charset "UTF-8";
.emjcontainer{
	min-width: 300px;
    min-height: 300px; 
}

.em_item{
	float: left;
    margin: 5px 2px 0 2px;
    height: 35px;
    color: #69696d;
    line-height: 35px;
    padding: 0 5px 0 5px;
    border: 1px solid #f7f3f3;
    border-radius: 6px;
}