<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		">

	
	<bean id="resetBlackIPListDetail"

		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.kxjl.web.system.service.Impl.CommonServiceImpl" />
		</property>
		<property name="targetMethod" value="resetBlackIPList" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>



	
	<bean id="resetBlackIPListTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="resetBlackIPListDetail" />
		<property name="cronExpression" value="50 59 * * * ?" /><!--  
			秒 分 时 日 月 周 年 每隔1秒钟触发一次 -->
	</bean>
	
	
	
	<bean id="rssUpdate"

		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.kxjl.web.autodata.controller.WebController.RssManagerController" />
		</property>
		<property name="targetMethod" value="rssfreshAllAuto" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>



	
	<bean id="rssUpdateTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="rssUpdate" />
		<property name="cronExpression" value="50 59 * * * ?" /><!--  
			秒 分 时 日 月 周 年 每隔1秒钟触发一次 -->
	</bean>
	
	
	
	<bean id="rssCleanAll"

		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean class="com.kxjl.web.autodata.controller.WebController.RssManagerController" />
		</property>
		<property name="targetMethod" value="rssCleanAll" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>



	
	<bean id="rssCleanAllTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="rssCleanAll" />
		<property name="cronExpression" value="1 1 1 * * ?" /><!--  
			秒 分 时 日 月 周 年 每隔1秒钟触发一次 -->
	</bean>
	


	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>

				<ref bean="resetBlackIPListTrigger" />
				<ref bean="rssUpdateTrigger" />
					<ref bean="rssCleanAllTrigger" />
				
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>



</beans>