<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.admin.persistence.adapter.dao.KgEditDirTreeMapperAdapter">
    <resultMap id="BaseResultMap"
               type="com.kxjl.admin.persistence.entity.KgEditDirTree"
               extends="com.kxjl.admin.persistence.dao.KgEditDirTreeMapper.BaseResultMap">
    </resultMap>
     <!--在此编写自己的sql, 生成的sql文件不需要编辑-->

    <select id="selectByCondition" parameterType="com.kxjl.admin.persistence.entity.KgEditDirTree" resultMap="BaseResultMap">

    </select>
    
    
    <sql id="selectAllClassTable">

		(
		select c.ID, c.VERSION_ID, c.DIR_CODE, c.DIR_ID, c.DIR_NAME,
		c.DIR_TYPE, c.PAR_DIR_ID, c.PAR_DIR_CODE, c.ENABLED,
		c.DELETED, c.LEAF, c.LEVEL_NUM, c.SORT, c.CREATED_USER,c. CREATED_TIME,
		c.UPDATED_USER, c.UPDATED_TIME,c.remark
		from KG_DIR_TREE c
	<!-- 	<if test="curUser != null and curUser!='' "> -->
			UNION all
			(
			select c.ID, c.VERSION_ID, c.DIR_CODE, c.DIR_ID,
			c.DIR_NAME, c.DIR_TYPE, c.PAR_DIR_ID, c.PAR_DIR_CODE, c.ENABLED,
			c.DELETED, c.LEAF, c.LEVEL_NUM, c.SORT, c.CREATED_USER,c.
			CREATED_TIME, c.UPDATED_USER, c.UPDATED_TIME,c.remark
			from
			KG_EDIT_DIR_TREE c
			left join kg_edit_data e on c.id=e.edit_data_id
			where 1=1
			) 
			

		<!-- </if> -->
		)
	</sql>


	<sql id="selectAllPropertyTable">

		(
		select c.ID, c.VERSION_ID, c.NAME, c.DATA_TYPE_RULE, c.EQUIVALENCE,
		c.REMARK, c.ENABLED, c.DELETED, c.CREATED_USER,
		c.CREATED_TIME,
		c.UPDATED_USER, c.UPDATED_TIME from
		KG_PROPERTY c
		<!-- <if test="curUser != null and curUser!='' "> -->
			union
			(
			select c.ID, c.VERSION_ID, c.NAME, c.DATA_TYPE_RULE,
			c.EQUIVALENCE,
			c.REMARK, c.ENABLED, c.DELETED, c.CREATED_USER,
			c.CREATED_TIME, c.UPDATED_USER, c.UPDATED_TIME from
			KG_EDIT_PROPERTY c
			left join kg_edit_data e on c.id=e.edit_data_id
			where 1=1 
			<!-- and e.edit_user=#{curUser} -->
			and e.edit_action='1'
			and e.audit_state in ('1','2') 
			)
		<!-- </if> -->
		)

	</sql>
	
		<sql id="selectAllSubTable">

		(
		select
		c.ID, c.VERSION_ID, c.NAME, c.REMARK, c.CREATED_USER, c.CREATED_TIME, c.UPDATED_USER, c.UPDATED_TIME ,c. DELETED,c. ENABLED
		from KG_SUB_GROUP c
		
		<!-- 	<if test="curUser != null and curUser!='' "> -->
		union
		(
		select   c.ID, c.VERSION_ID, c.NAME, c.REMARK, c.CREATED_USER, c.CREATED_TIME, c.UPDATED_USER, c.UPDATED_TIME ,'0' DELETED,'1' ENABLED from 
		KG_EDIT_SUB_GROUP c
		left join kg_edit_data e on c.id=e.edit_data_id
		where 1=1 
		<!-- and e.edit_user=#{curUser} -->
		and e.edit_action='1'
		and e.audit_state in ('1','2') 
		)
	<!-- 	</if> -->
		)
	</sql>
	

	<select id="selectList"  databaseId="oracle"
		parameterType="com.kxjl.admin.persistence.entity.KgEditDirTree"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Jun 08 
			11:51:06 CST 2020. -->
		select
		c.*,p.dir_name parDirName,
		g.subGroupNames subNames,g.subGroupIds subIds
		from
		KG_EDIT_DIR_TREE
		c

		left join (

		select id,max(name) subGroupNames,max(kid) subGroupIds from (
		select
		id,
		WMSYS.WM_CONCAT (tp. NAME) over(partition by id order by tp.kid) name,
		WMSYS.WM_CONCAT (tp. kid) over( partition by id order by tp.kid) kid
		from (
		select c.id,kp.name,kp.id kid
		FROM
		<include refid="selectAllClassTable" />
		c
		left join KG_OBJECT_SUB_GROUP op on c.id=op.obj_id
		left join   	<include refid="selectAllSubTable" />  kp on op.sub_group_id=kp.id
		) tp
		) tp where 1=1 group by id

		) g on c.id=g.id
		left join
		<include refid="selectAllClassTable" />
		p on p.id=c.par_dir_id



		where 1=1 and c.deleted='0'

		<if test=" dirName != null and dirName !='' ">

			<if test=" fullNameQuery != null and fullNameQuery !='' ">
				AND c.DIR_Name = #{dirName}
			</if>

			<if test=" fullNameQuery == null or fullNameQuery =='' ">
				<bind name="dirName" value="'%' + dirName + '%'" />
				AND c.DIR_Name LIKE #{dirName}
			</if>




		</if>


		<if test=" remark != null and remark !='' ">
			<bind name="remark" value="'%' + remark + '%'" />
			AND c.remark like #{remark}

		</if>



		<if test=" id != null and id !='' ">

			AND c.id = #{id}

		</if>
		
		<if test="parDirId != null and parDirId !='' ">
			and c.par_Dir_Id=#{parDirId}
		</if>



		order by c.CREATED_TIME DESC

	</select>

</mapper>