<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.web.blog.dao.BlogDao">
	<resultMap id="BlogMap" type="com.kxjl.web.blog.model.Blog">
	
	</resultMap>
	
	

<select id="getRelatedBlogs" parameterType="com.kxjl.web.blog.model.Blog" resultMap="BlogMap">
select a.*,d.dict_name blog_type_name,d.val1 blog_type_url from blog_info a left join dict_info d on (d.dict_type='blog_type' and a.blog_type=d.dict_key) where 1=1 
  and a.showflag='1'
  and  a.recordid!=#{recordid}
          <foreach collection="tagStrs" item="ti" open=" and (" close=" ) " separator=" or ">
            a.tags like CONCAT('%',#{ti},'%')
          </foreach>
          
          order by a.create_date desc
</select>

	
		<select id="getBlogTags"  resultMap="BlogMap">
	<![CDATA[ 
		select  group_concat(tags) tags from blog_info where showflag='1'
		]]>
		
	</select>
	
		<select id="getBlogMonthGroup"  resultMap="BlogMap">
	<![CDATA[ 
		select DATE_FORMAT(create_date,"%Y-%m") month ,count(*) view_nums from blog_info a
		where a.showflag='1'
		 group by DATE_FORMAT(create_date,"%Y-%m")
		]]>
		
	</select>
	
	
	
		<select id="getBlogTypeGroups"  resultMap="BlogMap">
		<![CDATA[
			 select d.val1 blog_type_url, d.dict_key blog_type ,d.dict_name blog_type_name,count(*) view_nums from blog_info b
LEFT JOIN (select * from dict_info where dict_type="blog_type") d  on d.dict_key=b.blog_type 
where b.showflag='1'
group by d.dict_key,d.dict_name,d.val1
	]]>
	</select>
	
	
	<select id="getBlogDetailPageList" parameterType="com.kxjl.web.blog.model.Blog" resultMap="BlogMap">
	<![CDATA[ 	select a.*,d.dict_name blog_type_name,d.val1 blog_type_url  from (
	(select '1cur' t, a.* from blog_info a where   recordid=#{recordid})  
union
(select '2next' t, a.* from blog_info a where a.showflag='1' and  recordid>#{recordid}  order by recordid asc limit 1)
union
(select '3pre' t, a.* from blog_info a where a.showflag='1' and  recordid<#{recordid} order by recordid desc limit 1)
) a  left join dict_info d on (d.dict_type='blog_type' and a.blog_type=d.dict_key)
order by t asc


]]>

		
	</select>
	
	
	
	
	
	
	<select id="getBlogPageList" parameterType="com.kxjl.web.blog.model.Blog" resultMap="BlogMap">
		select a.*,d.dict_name blog_type_name,d.val1 blog_type_url  from blog_info a left join dict_info d on (d.dict_type='blog_type' and a.blog_type=d.dict_key)
	
		where 1=1 
		<if test='title != null and title != "" '>
				and a.title like CONCAT('%',#{title},'%')
		</if>
		<if test='showflag != null and showflag != "" '>
				and a.showflag=#{showflag} 
		</if>
		<if test='content != null and content != "" '>
			and a.content like CONCAT('%',#{content},'%')
		</if>
		<if test='blog_type != null and blog_type != "" '>
			and a.blog_type=#{blog_type}
		</if>
		<if test='tags != null and tags != "" '>
			and a.tags like CONCAT('%',#{tags},'%')
		</if>
		<if test='imei != null and imei != "" '>
			and a.imei =#{imei}
		</if>
		<if test='month != null and month != "" '>
			and DATE_FORMAT(a.create_date,"%Y-%m") =#{month}
		</if>
		 <if test=" sortName !=null and sortName !='' ">
            order by a.${sortName} ${sortOrder}
        </if>
         <if test=" sortName ==null or sortName =='' ">
           	order by a.create_date desc
        </if>
	
		limit #{start},#{pageCount}
	</select>
	
	<select id="getBlogPageListCount" parameterType="com.kxjl.web.blog.model.Blog" resultType="java.lang.Integer">
		select count(*) from blog_info a 
		where 1=1  
		<if test='title != null and title != "" '>
				and a.title like CONCAT('%',#{title},'%')
		</if>
			<if test='showflag != null and showflag != "" '>
				and a.showflag=#{showflag} 
		</if>
		<if test='content != null and content != "" '>
			and a.content like CONCAT('%',#{content},'%')
		</if>
		<if test='blog_type != null and blog_type != "" '>
			and a.blog_type=#{blog_type}
		</if>
		<if test='tags != null and tags != "" '>
			and a.tags like CONCAT('%',#{tags},'%')
		</if>
		<if test='imei != null and imei != "" '>
			and a.imei =#{imei}
		</if>
		<if test='month != null and month != "" '>
			and DATE_FORMAT(a.create_date,"%Y-%m") =#{month}
		</if>
		
	</select>
	
<select id="getBlogInfoById" parameterType="java.lang.Integer" resultType="com.kxjl.web.blog.model.Blog">
		select a.*,d.dict_name blog_type_name from blog_info a 
		left join dict_info d on (d.dict_type='blog_type' and a.blog_type=d.dict_key)
		where 1=1
		<if test='imei != null and imei != "" '>
			and a.imei =#{imei}
		</if>
		<if test='recordid != null and recordid != "" '>
			and a.recordid =#{recordid}
		</if>
	
	</select>




	
	<insert id="addBlog" parameterType="com.kxjl.web.blog.model.Blog">
	    

	    
		insert into blog_info 
		(title,blog_type,content,tags,
		create_date ,imei,showflag,showtime)
		values(#{title},#{blog_type},#{content},#{tags}
			,#{create_date},#{imei},#{showflag},#{showtime})
	</insert>
	
	<update id="updateBlog" parameterType="com.kxjl.web.blog.model.Blog">
		update blog_info 
			<trim prefix=" set " suffixOverrides=",">
		update_date=#{update_date},
		<if test='title != null'>
			title=#{title},
		</if>
			<if test='showflag != null'>
			showflag=#{showflag},
		</if>
		<if test='showtime != null'>
			showtime=#{showtime},
		</if>
		
		<if test='view_nums != null'>
			view_nums=#{view_nums},
		</if>
		<if test='spider_nums != null'>
			spider_nums=#{spider_nums},
		</if>
		<if test='replay_nums != null'>
			replay_nums=#{replay_nums},
		</if>
		<if test='blog_type != null'>
			blog_type=#{blog_type},
		</if>
		<if test='content != null'>
			content=#{content},
		</if>
		<if test='tags != null'>
			tags=#{tags},
		</if>
		<if test='imei != null'>
			imei=#{imei},
		</if>
		
		
		</trim>
		
		where recordid=#{recordid}
	</update>
	
	<delete id="deleteBlog"  parameterType="java.lang.Integer">
		delete from blog_info where recordid = #{id}
	</delete>
	
	
</mapper>
  





