<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.web.translog.dao.TranslogDao">
	<resultMap id="TranslogMap" type="com.kxjl.web.translog.model.Translog">
	
	</resultMap>
	
	
	<select id="getTranslogPageList" parameterType="com.kxjl.web.translog.model.Translog" resultMap="TranslogMap">
		select * from trans_log 
		where 1=1
		<if test='phone_account_use_id != null and phone_account_use_id != "" '>
			and phone_account_use_id like CONCAT('%',#{phone_account_use_id},'%')
		</if>
		<if test='city != null and city != "" '>
			and city like CONCAT('%',#{city},'%')
		</if>
		<if test='route_id != null and route_id != "" '>
			and route_id like CONCAT('%',#{route_id},'%')
		</if>
		<if test='route_ip != null and route_ip != "" '>
			and route_ip like CONCAT('%',#{route_ip},'%')
		</if>
		
		

		limit #{start},#{pageCount}
	</select>
	
	<select id="getTranslogPageListCount" parameterType="com.kxjl.web.translog.model.Translog" resultType="java.lang.Integer">
		select count(*) from trans_log 
		where 1=1
		<if test='phone_account_use_id != null and phone_account_use_id != "" '>
			and phone_account_use_id like CONCAT('%',#{phone_account_use_id},'%')
		</if>
		<if test='city != null and city != "" '>
			and city like CONCAT('%',#{city},'%')
		</if>
		<if test='route_id != null and route_id != "" '>
			and route_id like CONCAT('%',#{route_id},'%')
		</if>
		<if test='route_ip != null and route_ip != "" '>
			and route_ip like CONCAT('%',#{route_ip},'%')
		</if>
	</select>
	

	
	
</mapper>
  





