<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.web.user.dao.UserDao">
	<resultMap id="UserMap" type="com.kxjl.web.user.model.User">
	
	</resultMap>
	
	
	<select id="getUserPageList" parameterType="com.kxjl.web.user.model.User" resultMap="UserMap">
		select a.*  from user_info a 
		where 1=1
		<if test='accountid != null and accountid != "" '>
			and a.accountid like CONCAT('%',#{accountid},'%')
		</if>
		<if test='user_name != null and user_name != "" '>
			and a.user_name like CONCAT('%',#{user_name},'%')
		</if>
		<!-- <if test='ip != null and ip != "" '>
			and a.ip like CONCAT('%',#{ip},'%')
		</if>
		<if test='user_name != null and user_name != "" '>
			and c.compy_name like CONCAT('%',#{user_name},'%')
		</if> -->

		limit #{start},#{pageCount}
	</select>
	
	<select id="getUserPageListCount" parameterType="com.kxjl.web.user.model.User" resultType="java.lang.Integer">
		select count(*) from user_info a 
		where 1=1
		<if test='accountid != null and accountid != "" '>
			and a.accountid like CONCAT('%',#{accountid},'%')
		</if>
		<if test='user_name != null and user_name != "" '>
			and a.user_name like CONCAT('%',#{user_name},'%')
		</if>
		
		
	</select>
	
<select id="getUserInfoById" parameterType="java.lang.Integer" resultType="com.kxjl.web.user.model.User">
		select * from user_info where recordid = #{id}
	</select>


<select id="getUserInfoByAccountAndPass" parameterType="java.util.Map" resultType="com.kxjl.web.user.model.User">
		select * from user_info where accountid = #{id} and pass=#{pass}
	</select>


	
<select id="getUserInfoByAccountId" parameterType="java.lang.String" resultType="com.kxjl.web.user.model.User">
		select * from user_info where accountid = #{id}
	</select>
	
	<insert id="addUser" parameterType="com.kxjl.web.user.model.User">
	    

	    
		insert into user_info 
		(user_name,accountid,pass,desc_info,
		create_date )
		values(#{user_name},#{accountid},#{pass}
		,#{desc_info}
		,now())
	</insert>
	
	<update id="updateUser" parameterType="com.kxjl.web.user.model.User">
		update user_info 
			<trim prefix=" set " suffixOverrides=",">
		update_date=now(),
		<if test='pass != null'>
			pass=#{pass},
		</if>
		
		<if test='user_name != null'>
			user_name=#{user_name},
		</if>
		<if test='desc_info != null'>
			desc_info=#{desc_info},
		</if>
		
		</trim>
		
		where recordid=#{recordid}
	</update>
	
	<delete id="deleteUser"  parameterType="java.lang.Integer">
		delete from user_info where recordid = #{id}
	</delete>
	
	
</mapper>
  





