.pageText {
  color: #333!important;
  /* 为较旧的或者不支持的浏览器设置备用属性 */
  /* height: 200px; */
}


 a{
	
	    color: #676767;
}

 a:hover{
	   color: #1F7A68; 
	  /*   background: #9cbbf3; */
    /* border-color: #0da4d3; */
    text-decoration: underline;
}





.spig {
   display: block; 
  width: 300px;
  /* height: 155px; */
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: 19999;
}
/**
** sprite
*/

.mdiv{
	margin-top: -40px;
}


#gotop{

    
        /* float: right; */
    width: 0px;
    right: 0px;
    position: relative;
    top: 145px;
    /* margin-top: -45px!important; */
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    display: block;
    visibility: collapse;
}
#getonecat{
/*float: right; */
    width: 0px;
    right: -10px;
    position: relative;
    top: 155px;
    /* margin-top: -45px!important; */
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    /* display: `; */
    visibility: collapse;
}
#gotosearch{
	 width: 0px;
    right: 10px;
    position: relative;
    top: 100px;
    /* margin-top: -45px!important; */
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    /* display: `; */
    visibility: collapse;
}

#getabout{
	    width: 0px;
    right: 0px;
    position: relative;
    top: 95px;
    /* margin-top: -45px!important; */
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    /* display: `; */
    visibility: collapse;
}

#gotohome{
	 width: 0px;
    right: 10px;
    position: relative;
    top: 110px;
    /* margin-top: -45px!important; */
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    /* display: `; */
    visibility: collapse;
}

.topcircle{
	color:#1F7A68;
}
.topcircle2{
	color:a93b2a;
}
.topcircle3{
	color:#3c6abe;
}
.topcircle4{
	color:#a57825;
}
.topcircle5{
	color:#445559;
}


.mumu,
.mumu.open {
	z-index:2;
  background: url(../images/cat.png);
  width: 55px;
  height: 55px;
  margin: 0 auto;
  -moz-transition: all 0.025s ease-in-out;
  -o-transition: all 0.025s ease-in-out;
  -webkit-transition: all 0.025s ease-in-out;
  -ms-transition: all 0.025s ease-in-out;
  transition: all 0.025s ease-in-out;
}
.mumu.active.o1 {
  background: url(../images/c1.png);
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.mumu.active.o1.o2 {
  background: url(../images/c2.png);
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.mumu.active.o1.o2.o3 {
  background: url(../images/c3.png);
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.mumu.active.o1.o2.o3.o4 {
  background: url(../images/c4.png);
  width: 55px;
  height: 55px;
  margin: 0 auto;
}
.spig  #message {
  color: #ffb840!important;
  background-color: #1F7A68!important;
  border-color: #436e66 !important;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  opacity: 80%;
  margin-top: -65px;

float:left;
    width: 100%;
}




#message span {
  color: #56e6a2;
}

@media screen and (max-width: 768px) {
	 
	 .spig  #message {
	  margin-top: -105px;
	 }
	
}




/*折叠*/
.pleft,
.pright {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pall {
/*    float: left;   
  overflow-x: hidden; */
  max-width: 1170px;
    margin: 0 auto;
    float: none;
}
.pall > .pleft {
  float: left;
  position: relative;
}
.pall > .pright {
  float: left;
  position: relative;
  padding-left: 2vh;
}

.pall.is-open > .pleft {
  width: 95%;
  border-right: solid 0px #e5e5e5;
}
.pall.is-open > .pright {
  width: 0px;
  opacity: 0;
}



@media screen and (max-width: 768px) {
	 

	.panel.card.fixed2{
	visibility: hidden;
	}
	
	
	
	.spig {
    
  width: 100px!important;
	}
	.rightline {
  border-right: solid 0px #e5e5e5!important;
}
	
	  .pall > .pright {
    width: 95%;
  }
	  .pall .ctrl {
    visibility: hidden;
  }
   .pright .siderabout{
   visibility: collapse;
   height: 0px;
  }
  
     .pright .sidebar-container
  {

  visibility:hidden;
  height: 0px;
  }
    
 
  
  .pall  .pleft {
    width: 98%;
  }
  
    .sidebar-container
  {
   visibility: visible;
   margin-top:52px;
   padding-top:10px;
  background: url('../images/blur-bg.jpg');
      background-position: center;
    background-repeat: no-repeat;
    background-color: #808080;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
  }
  
   #mhead img {
   z-index:100;
   position: relative;
  top:-50px;
  }
  
    #mhead .hgroup {
  position: relative;
  top:-50px;
  }
  
  .pc.navbar-brand.toptitle
  {
  visibility:hidden;
  width: 0px; 
  }
  /*  .mobile.navbar-brand.toptitle
  {
  visibility:visible; 
  } */
   #mhead {
  width: auto;
  }
  
  .navbar-header .navbar-brand{
   visibility: hidden;
   }
  .toptitle{
   color: #e3d6a3!important;
    font-size: 15px!important;
    font-weight: normal!important; 
   
  }
  .navbar-kindex, .navbar-kindex > li, .navbar-kindex > ul, .navbar-kindex .dropdown-toggle {
    /* color: #29477f; */
    /* background-color: #0e53a7!important; */
    background-color:#384759!important;
  }
  
  .sidebar-container .short-about img{
   width: 128px!important;
   height: 128px!important;
   margin: 0 auto;
  }
  
  #ftop{
   z-index:99;
  }

  
   .navbar-fixed-top   .navbar-header.public
  {
   height: 110px;
   position: relative;
  }
   .navbar-fixed-top.fixed  .navbar-header.public{
  height: 40px;
  }
  
   .navbar-fixed-top.fixed  .mobile.navbar-brand{
   visibility: visible;
   }
  
  #toptitle{
      display: block;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    float: none;
    }
  
    .sidebar-container a{
   /*   color: #65c588bf; */
   /* font-size: 15px; */
        margin: 0 auto;
    width: 100%;
    /* position: relative; */
    display: block;
    
   }
    .sidebar-container p{
      color: #b2b4b5b8;
   }
  
  
}
.pall > .pright {
  opacity: 1;
}
@media screen and (min-width: 768px) {

  .pall > .pleft {
    width: 73%;
    border-right: solid 1px #e5e5e5;
    padding-left: 25px!important;
  }
  
	
	
  .pall > .pright {
    width: 25%;
  }
     .pright> .sidebar-container
  {
  visibility:visible;
 
  }
  
   .pc.navbar-brand.toptitle
  {
  visibility:visible; 
  }
  
  .mobile.navbar-brand.toptitle
  {
  visibility:collapse; 
   
  width: 0px; 
  }
  
  .navbar-brand{
   visibility: visible;
   }
   #mhead {
  display: none;
  }


}

/*折叠 end */
.result {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
}
.imgresult {
  border: 5px solid #fff;
}
.indiv {
  position: absolute;
}
.ul1 {
  background: #fff;
  border-radius: 10px;
  height: 30px;
}
.nc_bg {
  float: left;
  background: #7673d9;
  height: 29px;
}
.login_back {
  background: #29477f!important;
}

.durl {
  border-right: 1px solid #e5e5e5;
  
      box-shadow: 0px 2px 0px rgba(170,170,170,0.1);
    background: #fff;
    padding:15px;
    margin-bottom: 10px;
    border-radius: 3px;
 min-height: 90px;
}
.urldv{
	
}
.durl .fa{
	padding: 5px;
}
.urladd{
	color:#FFE09F;
}
.urlhead, .card .panel-heading,.panel-success .panel-heading{
	/* background: #f9f9f9!important;
	border-bottom: #f9f9f9!important;
	border-left: #6b3399!important; */
		
		color:#fff!important;
	background: #838EAF!important;
	border:0px solid  #6B3399!important;
	border-left:5px solid  #ffc36f!important;
}
.urlhead h3{
	
/* 	    box-shadow: 0px 2px 0px rgba(170,170,170,0.1);
    background: #fff;
    padding:15px;
    margin-bottom: 10px;
    border-radius: 3px; */
}
.durl:hover{
	box-shadow: 0 3px 3px rgba(170,170,170,0.2);
}
.urlbd,.card .panel-body,.panel-success .panel-body{
	
	background: #f9f9f9!important;
}
.urlbd a{
	font-weight: bold;
}
.urlbd a:hover{
color:#344F99!important;
}



.udesc{
		color:#888; 
	
}
.ufoot{
	
}

.alldot {
  position: relative;
  line-height: 24px;
  font-size: 15px;
  /* 3 times the line-height to show 3 lines */
  height: 300px;
  overflow: hidden;
  margin-bottom: -90px;
}
.more {
  height: 90px;
   	background: -moz-linear-gradient(bottom,rgba(255,255,255,0),#f9f9f9); 
background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#f9f9f9));
background: -o-linear-gradient(bottom,rgba(255,255,255,0),#f9f9f9); 
}

alldot::after {
  content: "...";
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px 1px 45px;
  /* background:url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y; */
}
.shiju p {
  line-height: 2;
  color: #7673d9;
}
blockquote {
  font-size: 15px!important;
}
.panel-top > .panel-heading {
  color: #ffb840!important;
  background-color: #1F7A68!important;
  border-color: #BF8A30!important;
}
.panel-top > .panel-body {
  color: #bf8a30;
}
.pageText {
  line-height: 2.2;
  font-size: 11pt;
}
.ui-datepicker {
  border: 0px!important;
}
.ui-datepicker-header {
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  border-top-left-radius: 0px!important;
}
.ptitle {
  font-size: 15pt;
  line-height: 1.5;
  color: #534ed9;
}
.navbar-kindex,
.navbar-kindex > li,
.navbar-kindex > ul,
.navbar-kindex .dropdown-toggle {
  /* color:#29477f; */
  /* background-color: #0e53a7!important; */
  background-color: #2a4480;
  border-color: #0c5aa6;
  /* border-color: #04c96c; */
}


.navbar-kindex .navbar-collapse
{
	 width: 100%;  
}

.menuacolor {
  color: #6c8cd5;
}
.navbar-kindex a,
.navbar-kindex .open > a {
  font-weight: bold;
  
  color: #6c8cd5!important;
  background-color: transparent;
}
.topa {
  background-color: #206676!important;
  color: #ffd473;
}
.topahover {
  background-color: #2a4480;
  color: #ffd473;
}
.navbar-kindex li a:HOVER {
  /* .topa; */
  background-color: #2a4480;
  color: #ffd473!important;
}
.navbar-kindex .open > a:focus,
.navbar-kindex .open > a:hover {
  background-color: #206676!important;
  color: #ffd473;
}
.navbar-kindex li.active,
.navbar-kindex li.focus {
  background-color: #206676!important;
}
.navbar-kindex li.active > a {
  color: #ffd473;
}
.dropdown-menu > li > a,
.navbar-kindex .open .dropdown-menu > li > a:focus,
.navbar-kindex .open .dropdown-menu > li > a {
  color: #6c8cd5;
}
.navbar-kindex .open .dropdown-menu > li > a:hover {
  background-color: #2a4480;
  color: #ffd473;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #333086;
  border-color: #337ab7;
}
.btn-primary {
  color: #fff;
  background-color: #7673d9;
  border-color: #006e4a;
}
.btn-primary:HOVER {
  color: #fff;
  background-color: #534ed9;
  border-color: #006e4a;
}

.panel-success
{
	 border:0px;
}

.panel-success > .panel-heading {
  /*	color:#333086;
	background: #7673d9;
	border-color: #534ed9;
	*/
  color: #333086;
  background-color: #708afd2d; 
 
  /* background-size: 25px 25px ;*/
  /* background-repeat: no-repeat; */

  border-left:5px solid  #324fadc0;
}
/* .panel-success>.panel-heading{
	color:#1f1ab2;
	background: #7673d9;
	border-color: #534ed9;
}
 */
.noborder {
  border: 0px!important;
}
.replayblock {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 5px;
}
.rcct {
  padding: 5px;
  line-height: 24px;
  font-size: 15px;
  word-break: break-all;
}

.ba1 {
  color: #bbb;
}
.b1:hover a.ba1,
.b2:hover a.replaybtn,


.pgdiv{
	 /* box-shadow: 0 0 10px rgba(14, 14, 14, .26);
	    margin-bottom: 10px;
	    padding: 10px;
	    */
}

.b1:hover a.replaybtn.ba1{
	color:#316499!important;
}
.b2:hover a.replaybtn{
	color:#316499!important;
}

.b2:hover a.ba1 {
  color: #bbb;
}
.rcblock {
  padding-left: 20px;
  padding-top: 3px;
}
.rcblock .replayblock {
 border-left: 0px solid #b5bcda;
  padding: 4px 10px;
  border-top: 1px dotted #e5e5e51f;
  border-bottom: 1px solid #fff;
}
hr {
  border-top: 1px solid #ababab73;
  box-shadow: 0 0px 5px rgba(117, 130, 158, 0.55);
}
.kfootpanel {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  position: relative;
  text-align: center;
  background: #fff;
  /* z-index: 999999; */
}
.kfoot {
  padding-top: 5px;
  margin: 5px 0px;
}
@media screen and (min-width: 768px) {
  .kfoot ul {
    margin: 0 auto;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .kfoot ul > li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .kfoot ul > li {
    display: inline;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #dddddd;
  }
}
.kfootend {
  padding-top: 5px;
  color: #768490;
  /* height: 34px;*/
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background: #f7f7f7;
}
.pleft {
  margin-bottom: 15px;
}
.rightline {
  border-right: solid 1px #e5e5e5;
}
.leftline {
  border-left: solid 1px #e5e5e5;
}
pre > code {
  font-size: 110%;
}
.boxdot {
  overflow: hidden;
  /*自动隐藏文字*/
  text-overflow: ellipsis;
  /*文字隐藏后添加省略号*/
  white-space: nowrap;
  /*强制不换行*/
  width: 20em;
  /*不允许出现半汉字截断*/
  color: #6699ff;
  border: 1px #ff8000 dashed;
}
.phonedot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.padding-left-0 {
  padding-left: 0px!important;
}
.nopadding-left > div {
  padding-left: 0px!important;
}
.nopaddding {
  padding: 0px!important;
}
/* @media (min-width:768px){.modal-dialog{width:600px} */
.row-margin-top-20 {
  margin-top: 20px;
}
.ck {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  line-height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
}
table {
  color: #777;
}
/* @media(min-width:768px)
{
	.pull-right-k
	{
	float:right!important;
	}
	
	.modal-dialog{width:600px;} 
	
}
.modal.in .modal-dialog{-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
 

 
 */
/*高度居中*/
.modal.in .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.modal-dialog {
  top: 48%;
}
/*最大高度*/
.modal-content {
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.cke_chrome {
  padding: 1px!important;
}
.margin-top-10 {
  margin-top: 10px;
}
.padding-top-0 {
  padding-top: 0px!important;
}
.row-margin-top-50 {
  margin-top: 50px;
}
.login_back2 {
  background: #1f4433;
}
.login_back {
  background: #0BB5D9;
  /**background: #9EC8F5;  */
}

.row-margin-top-80{
	margin-top: 80px; 
}

.row-margin-top-70 {
   margin-top: 70px; 
  /* margin-top: 5px; */
}

.backbodyDiv .row-margin-top-70
{
	margin-top: 5px!important;
}

body {
  /* overflow: auto !important; */
}
.modal {
  /* overflow: auto !important; */
}
.error {
  color: red;
}
.margin-top-5 {
  margin-top: 5px;
}
.radius {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s !important;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
}
.red {
  color: red;
  font-weight: bold;
}
.form-group .control-label,
.form-group .text-right {
  line-height: 34px;
}
.min-width-400 {
  min-width: 200px;
}
.margin5 {
  margin: 5px !important;
}
.time {
  margin-top: 5px;
  color: #888;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-20 {
  margin-right: 20px;
}
.padding-right-0 {
  padding-right: 0px;
}
.top3 {
  min-height: 52px;
  color: #94d3f0;
  /*background: #000; */
  border: 0px;
}
.top2 {
  margin-top: 50px;
  background-color: #e5e5e5;
  min-height: 20px;
  margin-bottom: 0px!important;
}
.margin-bottom-0 {
  margin-bottom: 0px!important;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.form-control {
  height: auto;
}
.tablefoot > select {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin: 20px  10px ;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #3DCA4E;
}
a {
  color: #676767;
  
}


.pageText a{
	 color: #3c77d4;
    word-wrap: break-word;
	 text-decoration: underline!important;
}

.pageText a:hover{
	 color: #7673d9;
	 text-decoration: none;
	
}


.pageText ul,.cke_editable ul,.pageText h1,.pageText h2,.cke_editable h1,.cke_editableh2
{
border-left: 0px solid #a8a9ab8f;
    /* background: #ebebec; */
    /* background: #d8d7d76b; */
       border-bottom: 1px solid #a8a9ab8f;
    overflow: auto;
    list-style: none;
    color: #505052;
    font-weight: bold;
    font-size: 16px!important;
    padding: 10px!important;
    padding-bottom: 10px!important;
    margin: 10px 0px!important;
    max-height: 400px;
      
      
}
.pageText h2,.cke_editable h2
{
font-size: 13px!important;
    border-left: 5px solid #ececec;
    /* background: #d8d7d76b; */
    background: #fbf1db6b;
    border-bottom: 1px solid #e7e8e8;
    /* border: 1px solid; */
    margin-left: 10px;
    color: #8c8888;
    padding: 10px!important;
}
.pct p,.cke_editable p{
	line-height: 1.8em;
    word-break: break-all;
    /* padding: 10px; */
    margin-bottom: 2px;
    padding: 0px!important;
    margin-top: 0px;
}


.pageText {
	    color: #565a5f;
  
    font: 16px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}


pre {
 
    padding: 0px!important;
}


.rightico {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  /*     line-height: 3; */
  /* color: #fff; */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  /* background-color: #999; */
  border-radius: 10px;
}


.lincense
{
	font-size: 15px;
    padding: 10px;
    color: #9c988e!important;
    background: #f3e6d6a3;
    border-left: 5px #9c4505 solid;
    
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}


/* .line-height-3 */
/* { */
/* 	line-height: 3; */
/* } */
/* .line-height-4 */
/* { */
/* 	line-height: 4; */
/* } */

.short-about{
	width:200px;
	margin: 0 auto;
}
.sidebar-container .short-about img {
    width: 165px;
    height:165px;
    display: block;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 2px black;
}

.sidebar-container .short-about p {
    margin-top: 0;
    margin-bottom: 20px;
}

.navbar-toggle{
    position: absolute;
    /* vertical-align: bottom; */
    /* display: block; */
    bottom: 5px;
    width: 0px;
    height: 0px;
    z-index: 200;
    right: 15px;
    /* float: right; */
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}




/**
物流信息

*/



.wuliu{
	position: relative;
    font-size: 16px;
    background: #FFF;
    padding: 20px 30px;
    color:#555666;
}

.wuliu tr ,.wuliu .trow{
    line-height: 50px!important;
    overflow: hidden;
}
.wuliu .line{
	    position: relative;
	    z-index:1;
	     overflow: hidden;
}
.wuliu .lineparent{
	padding:10px;

    color: #c6c6c6;
    
    text-align: center;
}


.wuliu .line:after, .wuliu .line:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 1px;
    height: 100px;
    left: 50%;
    top: -100px;
    margin-left: 0;
    background: #c6c6c6;
}

.wuliu .line:after {
    top: auto;
    bottom: -105px;
}


.wuliu .route-icon:before {
    font-family: ickdfont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-size: 18px;
  
    z-index: 1;
}
.wuliu  .first .line:before {
    display: none;
}

.wuliu  .last .line:after {
    display: none;
}

 .result-table-header {
    height: 43px;
    text-align: center;
    line-height: 43px;
    font-size: 15px;
    display: flex;
    border-bottom: 2px solid #3385ff;
}

.tbdiv
{
	bottom: 8px;
}
.itop:before{
	    position: relative;
    height: 15px;
    display: block;
    margin: 0;
    padding: 0;
}
.igray{
	color:#eee;
}
.itime{
	font-weight: bold;
}
.done{
	color:#2b8bea;
}
.ibottom:before{
	    position: relative;
    height: 15px;
    display: block;
    margin: 0;
    padding: 0;
}
.even{
    background: #F9F9F9!important;
}

/*wuli end*/


@media screen and (max-width: 768px) {
	
	
	.row-margin-top-70{
	margin-top: 10px;
	}
	
.wuliu{
	
    padding: 0px ;
}
.tbdiv{
	position:absolute;
	top: -5px;
	right: -5px; 
}


.col-xs-12{
	padding: 0px!important;
	margin-bottom: 5px;
}
.pall{
	padding-left: 10px!important;
}
	.lastcol{
	border-bottom: 1px solid #eee;
	}
	
	.itime{
	padding-left: 50px;
	}
	
	.coltime{
	padding-left: 80px;
	}
.wuliu .line:after, .wuliu .line:before {

    height: 220px;

    top: -220px;

}

.wuliu .line:after {
    top: auto;
    bottom: -225px;
}


}

.sitehistory a,.pct a
{
color:#251abb;
text-decoration: underline;	
}

.sitehistory a:hover,.pct a:hover
{
	color: #33983b;
	text-decoration: none!important;	
}




.bodyDiv{
	padding: 5px!important;
}

.relative{
	position: relative!important;
}


.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #90909000!important;
}
/**
back-head
*/
  .navbar-kback, .navbar-kback > li, .navbar-kback > ul, .navbar-kback .dropdown-toggle {
    /* color: #29477f; */
    /* background-color: #0e53a7!important; */
    background-color:#384759!important;
  }

.navbar-kback,
.navbar-kback > li,
.navbar-kback > ul,
.navbar-kback .dropdown-toggle {
  /* color:#29477f; */
  /* background-color: #0e53a7!important; */
  background-color: #2a4480;
  border-color: #0c5aa6;
  /* border-color: #04c96c; */
}


.navbar-kback .navbar-collapse
{
	 width: 100%;  
}

.navbar-kback a,
.navbar-kback .open > a {
  font-weight: bold;
  
  color: #6c8cd5!important;
  background-color: transparent;
}
  
  
  .navbar-kback li a:HOVER {
  /* .topa; */
  background-color: #2a4480;
  color: #ffd473!important;
}
.navbar-kback .open > a:focus,
.navbar-kback .open > a:hover {
  background-color: #206676!important;
  color: #ffd473;
}
.navbar-kback li.active,
.navbar-kback li.focus {
  /*background-color: #206676!important; */
}
.navbar-kback li.active > a {
  color: #ffd473;
}
.dropdown-menu > li > a,
.navbar-kback .open .dropdown-menu > li > a:focus,
.navbar-kback .open .dropdown-menu > li > a {
  color: #6c8cd5;
}
.navbar-kback .open .dropdown-menu > li > a:hover {
  background-color: #2a4480;
  color: #ffd473;
}

@media screen and (min-width: 768px) {
  .navbar-kback .collapse  li {
    display: block!important;
    
  }
}

@media screen and (max-width: 768px) {
  .navbar-kback   li a {
   
    line-height: 25px!important;
    padding: 5px auto;
  }
}


/*nav-back-end*/


.pbackall .row-margin-top-70{
	margin-top: 5px!important;
}
.todothing{
	line-height: 25px;
    height: 25px;
    font-size: 18px;
}
.done{
 text-decoration: line-through;
 color: #dadada!important;	
}
.thingtime
{
	font-size: 12px;
	color:#cacace;
}

/** permission tree**/

.menuContent {
	position: absolute;
	/* left: 135.266px;
    top: 105px; */
	margin-top: 1px;
	min-width: 195px;
	z-index: 1040;
	background: rgb(247, 247, 247);
	border: 1px solid #8fa5d6e8;;
}

.menuContent .cleanbtn {
	padding: 5px;
	font-size: 13px;
	/* margin: 5px; */
	color: #8189c5;
	/* border-bottom: 1px solid blue; */
	text-decoration: underline;
}

.permission a,.permission a:hover{
	text-decoration: underline;
	color: #337ab7!important;
}
/** permission tree end**/


.relatedLink
{
	margin-top: 10px;
	padding: 0px;
}

.relatedLink li{
	line-height: 45px;
	height: 40px;
}

/**related link*/
.relatedLink a{
	 font: 15px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
	 color: #3c77d4;
    word-wrap: break-word;
	 text-decoration: underline!important;
}

.relatedLink a:hover{
	 color: #33983b;
	 text-decoration: none;
	
}
/**/


/**打赏*/
.good{
	
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: block;
	width: 200px;
}


.pbord{
	border-radius: 29.97px;
    width: 236.89px;
    height: 236.89px;
    padding: 18.05px;
    margin-top: 5.53px;
     margin-bottom: 10.53px;
    border: 9.02px solid rgb(60, 175, 54);
}
.alip{
	 border: 9.02px solid #4a82e8!important;
}
.alip .ptip{
	color: #4a82e8!important;
}

.ptip{
	color: rgb(60, 175, 54);
    width: 48.13px;
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    background: #fff;
    height: 15px;
    text-align:center;
    line-height: 15px;
    margin-top: 14px;
}
.paybody{
	width: 340px;
}

.paybody .modal-body{
	padding: 0px!important;
}
.paybody .modal-title{
	font-size: 14px;
	font-weight: bold;
}
.paycontent{
	margin: 0 auto;
	width: 250px;
	display: block;
	position: relative;
}
.paycontent .tab-pane{
	padding: 10px;
}

ul.pul 
{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0 auto; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    display: block;
	position: relative;
	width: 200px;
}

 ul.pul li
{
	min-width:80px;
	line-height:25px;
    float:left; /* 向左漂移，将竖排变为横排 */
    margin: 5px;
}
/**打赏*/


/*hlight no break*/
.hljs {
  display: inline-block;
  white-space: pre;
  overflow-x: auto;
  padding: 0.5em;
 width: 100%;

}
.hljs-tag .hljs-value,.bash .hljs-variable{
	color: #daa3a3!important;
}
/**/

.ctrl{
	margin-top: 2px; width: 15px; height: 20px; color: #1f4433;
	color:#4c4269!important;
}



.bottom_detail_big { display:inline-block;width: 980px; height: 90px;}
@media screen and (max-width: 768px) {
	.bottom_detail_big { width: 320px; height: 50px; }
}
@media screen and (min-width: 768px) and (max-width:1024px) {
	.bottom_detail_big { width: 750px; height: 90px; }
}
	
@media screen and (min-width: 1024) {
	.bottom_detail_big { width: 980px; height: 90px; }
}
	



/**google ad**/
/* ins {
    min-width: 300px;
    min-height: 50px;
} */

/* 
.pageText img {
    border: 1px solid #eee;
    text-align: left;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
  
}

.cattop{
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
} */

/*cat*/
.cattop{
    border: 1px solid #eee;
    text-align: left;
    transition: all .15s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #fff;
  
}
.cattop:hover{
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
} 

/*end*/
a, a img, input  {
-webkit-transition: all 0.18s ease-out;
    -moz-transition: all 0.18s ease-out;
    -ms-transition: all 0.18s ease-out;
    -o-transition: all 0.18s ease-out;
    transition: all 0.18s ease-out;
}

#tpdiv a,#mdiv a{
	
	    color: #676767;
}

#tpdiv a:hover,#mdiv a:hover{
	  color: #fff;
	    background: #9cbbf3;
    border-color: #0da4d3;
}

#tgdiv a:hover{
	  color: #fff!important;
	  
	    background: #9cbbf3;
    border-color: #0da4d3;
}

#yqdiv a:hover div{
	  color: #fff!important;
	   background: #9cbbf3;
	   border-color: #0da4d3;
}

.postdiv{
	text-align: right;
}

.postdiv.left{
	text-align: left;
	margin-bottom: 5px;
}


a.yl {
	 color: #ecb866;
	font-size: 13px;
}
a:hover.yl {
	 color: #fff;
}

.pgblock{
	background: #f9f9f9;
	padding: 15px!important;
	margin-bottom: 20px;
	border-radius:4px;
	  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	 
	   -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	     -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	       -o-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	       box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
	  
	  
 /*    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4); */
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.detailbtn:hover,
.detailbtn:focus,
.detailbtn:active,
.detailbtn.active
{
background: #6789da!important;
color:#ecb866!important;
}
.detailbtn {
	background: #3f76a7!important;
	width: 100px;
}
.pgdiv:hover a.detailbtn {
  color: #ecb866!important;
}
.replaybtn,
.detailbtn {
  color:#efefef!important;
}

.sidebar.lefturl{
	
}

.sidebar.lefturl.fixed{
	position: fixed;
	 min-width: 270px ;

}

.fixed .nav-left{
    overflow-y: scroll;
   /*  height: 700px; */
}


.panel.siderabout.fixed{
	position: fixed;
    /* min-width: 275px; */
    top: 80px;
    width: 25%;
    padding-right: 30px;
    /* right: 50px; */

	
} 
.panel.card.fixed{
	position: fixed;
    /* min-width: 275px; */
    top: 660px;
    width: 25%;
    padding-right: 30px;
    /* right: 50px; */
	

	}
	
	
.panel.card.fixed2{
	position: fixed;
    /* min-width: 275px; */
    top: 80px;
    width: 25%;
    padding-right: 30px;
    /* right: 50px; */
	

	}

	.sortable:after{
	  content: "\f0dc";
	  padding-left: 10px;
}
/** bootstraptable sort*/	
	.sortable.desc:after {
     
    content: "\f0dd";

}

.asc:after{
	content: "\f0de";
	
}



.fixed-table-container thead th .both {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fixed-table-container thead th .sortable {
     cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px; 
      
}
/** bootstraptable sort end*/	
	
	 .pageText img{
	  cursor: pointer;
	 } 
	 
	 .timeinfo{
    padding: 15px;
    width:auto;
 color: #b96526!important;
    background: #f1d8b79e;
    border-left: 5px #ce9848 solid;
    
     -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}

.linka{
 
     line-height: 30px;
    height: 30px;
    padding: 5px;
    overflow: hidden;
 }
 .linkimg{
 width:25px;
 height:25px;
 margin-right:5px;
 float:left;
 }
  

.mcheck{
	    height: 20px;
    /* line-height: 40px; */
    width: 20px;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
    float: left;
    margin-top: 5px;
}
.rheadpic{
	margin-right: 5px;
	 border-radius: 5px;
}

.rname{
	    font-weight: bold;
    padding-right: 2px;
    color: #8e9092;
    padding-left: 5px;
}
.cmodify{
	    color: #5eacee;
    font-size: 18px;
}
.author{
	font-size: 12px;
        background: #bf5314;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 2px;
    color: #fffdfd;
    border-radius: 5px;
    margin: 4px;
}

.at{
	    font-size: 10px;
    color: #42a4de;
    font-style: italic;
}
.rptime{
font-size: 13px;
    color: #c4c4c5;
}

.replayblock a,.replayblock a:visited{
	color:#13276f;
	margin-right: 5px;
}

.replayblock .rcct a,.replayblock .rcct a:visited{
	color:#42a4de;
	 font-size:14px; 
}

.replayblock a:hover{
	color:#1d3da9!important;
	text-decoration: underline;
}
/* 
.replayblock a:hover, .replayblock a:visited {
    color: #13276f;
    text-decoration: underline;
}
.replayblock a {
    color: #42a4de;
    padding-right: 5px;
}
 */
 

#cblock .rcct{
	color: #8e8e8e;
    font-size: 15px;
}
.b1{
	margin-top: 5px;
}
.glink{
	color:#1fd969;
}

.minute,.hour  {
	margin: 5px!important;
}


.btn-primary {
  color: #fff;
  background-color: #bf6dca;
  border-color: #81438f;
}
.btn-primary:hover {
  color: #fff;
  background-color: #931cb1;
  border-color: #6e158f;
}


.btn-primary.btn-add,.btn-add {
  color: #fff;
  background-color: #ca8e44;
  border-color: #ba753f;
}
.btn-primary.btn-add:HOVER,.btn-add:hover {
  color: #fff;
  background-color: #d47d34;
  border-color: #a06f2c;
}



.btn-primary.btn-query,.btn-query {
  color: #fff;
  background-color: #48b299;
  border-color: #41c1bf;
}
.btn-primary.btn-query:hover,.btn-query:HOVER {
  color: #fff;
  background-color: #24ad73;
  border-color: #1c8e7c;
}

.text-done{
	color:green;
	font-weight: bold;
}
.modal-body{
	padding: 5px!important;
}

.pshodow{
	    -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,.5)!important;
    box-shadow: 2px 1px 4px rgba(0,0,0,.5)!important;
}

.wrap{
	white-space: pre-wrap!important;
}

.cke_contents{
	    height: 556px!important;
}
@media screen and (min-width: 768px) {
	
.pageText img{
	max-width: 780px;
}
}
.em_start{
	
	float: left;
	 margin: 5px 5px 0 2px;
    height: 35px;
    line-height: 35px;
   
        padding: 0 5px 0 5px;
 
      border: 1px solid #7788dc;
    background-color: #fffcfc;
    color: #3572e4;
    border-radius: 5px;
}
.em_item{
	float: left;
    margin: 5px 2px 0 2px;
    height: 35px;
    color: #69696d;
    line-height: 35px;
    padding: 0 5px 0 5px;
    border: 1px solid #f7f3f3;
    border-radius: 6px;
}
@media screen and (max-width: 768px) {
#content{
	    overflow-x: hidden;
}

#content.psearch{
	    overflow-x: auto;
}
}

#tpdiv .row{
	margin-bottom: 5px;
}

#tpdiv .row img{
	margin-right: 3px;
}

a.rsslinklist{
 word-break: break-word;
    min-width: 140px;
    display: block;
	
}   
.rsspagedetail{
	padding: 5px;
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	color:#717171;
}
.rsspagedetail img{
	width: 100%;
	padding: 5px;
}
.readdone{
	color:#ddd8d8;
}