<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.web.autodata.dao.MoneyMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.web.autodata.pojo.Money">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="m_type" jdbcType="VARCHAR" property="mType" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
    <result column="in_out" jdbcType="VARCHAR" property="inOut" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    
    <result column="typeName" jdbcType="DECIMAL" property="typeName" />
    <result column="typeIcon" jdbcType="DECIMAL" property="typeIcon" />
    
    <result column="in_money" jdbcType="DECIMAL" property="in_money" />
    <result column="out_money" jdbcType="DECIMAL" property="out_money" />
    
  </resultMap>
  <sql id="Base_Column_List">
    id, name, m_type, m_date, in_out, spec, create_user, update_user, remark, create_date, 
    update_date, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from money
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from money
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.web.autodata.pojo.Money">
    insert into money (id, name, m_type, 
      m_date, in_out, spec, 
      create_user, update_user, remark, 
      create_date, update_date, money
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{mType,jdbcType=VARCHAR}, 
      #{mDate,jdbcType=VARCHAR}, #{inOut,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.web.autodata.pojo.Money">
    insert into money
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mType != null">
        m_type,
      </if>
      <if test="mDate != null">
        m_date,
      </if>
      <if test="inOut != null">
        in_out,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mType != null">
        #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        #{mDate,jdbcType=VARCHAR},
      </if>
      <if test="inOut != null">
        #{inOut,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.web.autodata.pojo.Money">
    update money
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mType != null">
        m_type = #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        m_date = #{mDate,jdbcType=VARCHAR},
      </if>
      <if test="inOut != null">
        in_out = #{inOut,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.web.autodata.pojo.Money">
    update money
    set name = #{name,jdbcType=VARCHAR},
      m_type = #{mType,jdbcType=VARCHAR},
      m_date = #{mDate,jdbcType=VARCHAR},
      in_out = #{inOut,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  

<select id="selectYearList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.web.autodata.pojo.Money">
select m_date,
 
max( case in_out 
  when 1 then money 
end 
) in_money,
max( case in_out 
  when 2 then money 
end 
) out_money

 from
(
select  left(m_date,7) m_date, sum(money) money,in_out  from money c where 1=1

	<if test=" mDate !=null and mDate !='' ">
		and c.m_date like concat ('%', #{mDate},'%')
	</if>
group by  left(m_date,7),in_out
) tp group by m_date
order by m_date

</select>


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.web.autodata.pojo.Money">
	select
	c.*, d.dict_name typeName,d.val1 typeIcon
	from money c
	left join dict_info d on c.m_type=d.id

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" name !=null and name !='' ">
		and c.remark like concat ('%', #{name},'%')
	</if>
	
		
		<if test=" mType !=null and mType !='' ">
		and c.m_type = #{mType}
	</if>
		
			
		
		<if test=" mDate !=null and mDate !='' ">
		and c.m_date like concat ('%', #{mDate},'%')
	</if>
		
		order by c.m_date desc
			


</select>

<select id="selectZhichuStastic" 
	resultMap="BaseResultMap"
	parameterType="com.kxjl.web.autodata.pojo.Money">
select tp.*,d.dict_name  typeName from 
(
select m_type,sum(money) money from money c where in_out=2 
<if test=" mDate !=null and mDate !='' ">
		and 	 c.m_date like  concat ('%', #{mDate},'%')
	</if>
	
		<if test=" name !=null and name !='' ">
		and c.remark like concat ('%', #{name},'%')
	</if>
	
	
	
 group by m_type
) tp left join dict_info d on tp.m_type=d.id
</select>

<select id="selectTotal"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.web.autodata.pojo.Money">
select sum(money) money,'in' m_type from money c where in_out=1
	<if test=" mDate !=null and mDate !='' ">
		and c.m_date like concat ('%', #{mDate},'%')
	</if>
	
		<if test=" name !=null and name !='' ">
		and c.remark like concat ('%', #{name},'%')
	</if>
	
	
union
select sum(money) money, 'out' m_type from money c where in_out=2
<if test=" mDate !=null and mDate !='' ">
		and c.m_date like concat ('%', #{mDate},'%')
	</if>
		<if test=" name !=null and name !='' ">
		and c.remark like concat ('%', #{name},'%')
	</if>
	
	
union
select sum(money) money,'totol' m_type from money c where 1=1
<if test=" mDate !=null and mDate !='' ">
		and c.m_date like concat ('%', #{mDate},'%')
	</if>
		<if test=" name !=null and name !='' ">
		and c.remark like concat ('%', #{name},'%')
	</if>
	


</select>


<delete id="delete"
	parameterType="com.kxjl.web.autodata.pojo.Money">
	delete from money

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>