<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.web.autodata.dao.RssManagerMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.web.autodata.pojo.RssManager">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="auto_rss" jdbcType="VARCHAR" property="autoRss" />
    <result column="has_error" jdbcType="VARCHAR" property="hasError" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="last_rss_date" jdbcType="VARCHAR" property="lastRssDate" />
     <result column="last_rss_page_date" jdbcType="VARCHAR" property="lastRssPageDate" />
    
    
    <result column="m_remark" jdbcType="VARCHAR" property="mRemark" />
    <result column="m_name" jdbcType="VARCHAR" property="mName" />
    
      <result column="rtype" jdbcType="VARCHAR" property="rtype" />
  
       <result column="page_link" jdbcType="VARCHAR" property="page_link" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, link, icon, remark, auto_rss, has_error, create_date, update_date, last_rss_date,last_rss_page_date,m_remark,m_name,rtype,page_link
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rss_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rss_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kxjl.web.autodata.pojo.RssManager">
    insert into rss_manager (id, name, link, 
      icon, remark, auto_rss, 
      has_error, create_date, update_date, 
      last_rss_date)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{autoRss,jdbcType=VARCHAR}, 
      #{hasError,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, 
      #{lastRssDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.web.autodata.pojo.RssManager">
    insert into rss_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="autoRss != null">
        auto_rss,
      </if>
      <if test="hasError != null">
        has_error,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="lastRssDate != null">
        last_rss_date,
      </if>
       <if test="lastRssPageDate != null">
        last_rss_page_date,
      </if>
       <if test="mName != null">
        m_name,
      </if>
       <if test="mRemark != null">
        m_remark,
      </if>
       <if test="rtype != null">
        rtype,
      </if>
       <if test="page_link != null">
        page_link,
      </if>
      
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="autoRss != null">
        #{autoRss,jdbcType=VARCHAR},
      </if>
      <if test="hasError != null">
        #{hasError,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastRssDate != null">
        #{lastRssDate,jdbcType=VARCHAR},
      </if>
       <if test="lastRssPageDate != null">
        #{lastRssPageDate,jdbcType=VARCHAR}, 
      </if>
        <if test="mName != null">
          #{mName,jdbcType=VARCHAR}, 
      </if>
       <if test="mRemark != null">
          #{mRemark,jdbcType=VARCHAR},
      </if>
         <if test="rtype != null">
        #{rtype,jdbcType=VARCHAR}, 
      </if>
         <if test="page_link != null">
          #{page_link,jdbcType=VARCHAR}, 
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.web.autodata.pojo.RssManager">
    update rss_manager
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="autoRss != null">
        auto_rss = #{autoRss,jdbcType=VARCHAR},
      </if>
      <if test="hasError != null">
        has_error = #{hasError,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="lastRssDate != null">
        last_rss_date = #{lastRssDate,jdbcType=VARCHAR},
      </if>
       <if test="lastRssPageDate != null">
       last_rss_page_date = #{lastRssPageDate,jdbcType=VARCHAR},  
      </if>
        <if test="mName != null">
         m_name= #{mName,jdbcType=VARCHAR}, 
      </if>
       <if test="mRemark != null">
          m_remark=#{mRemark,jdbcType=VARCHAR},
      </if>
       <if test="rtype != null">
        rtype=#{rtype,jdbcType=VARCHAR}, 
      </if>
        <if test="page_link != null">
         page_link= #{page_link,jdbcType=VARCHAR}, 
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.web.autodata.pojo.RssManager">
    update rss_manager
    set name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      auto_rss = #{autoRss,jdbcType=VARCHAR},
      has_error = #{hasError,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      last_rss_date = #{lastRssDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.kxjl.web.autodata.pojo.RssManager">
	
select c.*,tp2.read,tp2.noread from rss_manager c
left join 
(
select 
id,
max(
case is_read 
when "1" then num
else 0
end) 'read',
max(case is_read 
when 0 then num
else 0
end) 'noread'

from (
select
	c.id,c.name,p.is_read,count(*) num
	from rss_manager c
left join rss_page_list  p on c.id=p.rss_manager_id
group by p.is_read,c.id
) tp group by id
) tp2 on c.id=tp2.id

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" name !=null and name !='' ">
		and c.name like concat ('%', #{name},'%')
	</if>
		
			
		
		<if test=" link !=null and link !='' ">
		and c.link like concat ('%', #{link},'%')
	</if>
	
		<if test=" noread !=null and noread !='' ">
		<![CDATA[  and tp2.noread>0   ]]>
	</if>
		<if test=" hasError !=null and hasError !='' ">
		and c.has_error=#{hasError}
	</if>
	
		
		 <if test=" sortName !=null and sortName !='' ">
            order by ${sortName} ${sortOrder}
        </if>
         <if test=" sortName ==null or sortName =='' ">
           	order by tp2.noread desc,c.last_rss_date desc
        </if>
			
	

</select>



<delete id="delete"
	parameterType="com.kxjl.web.autodata.pojo.RssManager">
	delete from rss_manager

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>