<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxjl.web.autodata.dao.ToDoMapper">
  <resultMap id="BaseResultMap" type="com.kxjl.web.autodata.model.ToDo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="is_done" jdbcType="VARCHAR" property="isDone" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="desc_info" jdbcType="VARCHAR" property="descInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, is_done, sort, update_date, create_date, desc_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_do
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from to_do
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <select id="getTodoList" parameterType="com.kxjl.web.autodata.model.ToDo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from to_do where 1=1
     <if test="is_done != null and is_done!='' ">
        is_done=#{isDone}
      </if>
   order by create_date desc
  </select>
 
  
  <insert id="insert" parameterType="com.kxjl.web.autodata.model.ToDo">
    insert into to_do (id, title, is_done, 
      sort, update_date, create_date, 
      desc_info)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{isDone,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{descInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kxjl.web.autodata.model.ToDo">
    insert into to_do
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="isDone != null">
        is_done,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="descInfo != null">
        desc_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isDone != null">
        #{isDone,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="descInfo != null">
        #{descInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kxjl.web.autodata.model.ToDo">
    update to_do
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isDone != null">
        is_done = #{isDone,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="descInfo != null">
        desc_info = #{descInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kxjl.web.autodata.model.ToDo">
    update to_do
    set title = #{title,jdbcType=VARCHAR},
      is_done = #{isDone,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      desc_info = #{descInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>