<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kxjl.web.translog.dao.SpiderlogDao">
	<resultMap id="SpiderlogMap" type="com.kxjl.web.translog.model.Spiderlog">
	
	</resultMap>
	
	
	
	<insert id="addSpiderlog" parameterType="com.kxjl.web.translog.model.Spiderlog">
	    

		insert into spider_log 
		(spider_head,request_ip,request_city,request_url,
		time)
		values(#{spider_head},#{request_ip},#{request_city},#{request_url}
			,#{time})
	</insert>
	<select id="getSpiderlogPageList" parameterType="com.kxjl.web.translog.model.Spiderlog" resultMap="SpiderlogMap">
		select * from spider_log 
		where 1=1
		<if test='spider_head != null and spider_head != "" '>
			and spider_head like CONCAT('%',#{spider_head},'%')
		</if>
		<if test='request_url != null and request_url != "" '>
			and request_url like CONCAT('%',#{request_url},'%')
		</if>
		<if test='request_ip != null and request_ip != "" '>
			and request_ip like CONCAT('%',#{request_ip},'%')
		</if>
		   
		    and str_to_date(time,'${dateFormat}') BETWEEN
		str_to_date('${starttime}','${dateFormat}')
		and str_to_date('${endtime}','${dateFormat}')
		
		

		limit #{start},#{pageCount}
	</select>
	
	<select id="getSpiderlogPageListCount" parameterType="com.kxjl.web.translog.model.Spiderlog" resultType="java.lang.Integer">
		select count(*) from spider_log 
		where 1=1
		<if test='spider_head != null and spider_head != "" '>
			and spider_head like CONCAT('%',#{spider_head},'%')
		</if>
		<if test='request_url != null and request_url != "" '>
			and request_url like CONCAT('%',#{request_url},'%')
		</if>
		<if test='request_ip != null and request_ip != "" '>
			and request_ip like CONCAT('%',#{request_ip},'%')
		</if>
		
			    and str_to_date(time,'${dateFormat}') BETWEEN
		str_to_date('${starttime}','${dateFormat}')
		and str_to_date('${endtime}','${dateFormat}')
		
	</select>
	

	
	
</mapper>
  





